*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #020617, #0f172a);
  color:#e5e7eb;
}

/* Navbar */
header{
  position:sticky;
  top:0;
  background: rgba(2,6,23,0.85);
  backdrop-filter: blur(10px);
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 60px;
}

.logo{
  font-size:28px;
  font-weight:700;
  color:#38bdf8;
}

nav a{
  margin-left:25px;
  text-decoration:none;
  color:#cbd5f5;
}

nav a.active,
nav a:hover{
  color:#38bdf8;
  border-bottom:2px solid #38bdf8;
  padding-bottom:4px;
}

/* Sections */
section{
  padding:80px 80px;
}

.section-title{
  text-align:center;
  font-size:36px;
  color:#38bdf8;
  margin-bottom:50px;
}

/* Hero */
.hero{
  display:grid;
  grid-template-columns:1fr 1.3fr;
  align-items:center;
  gap:60px;
}

.hero img{
  width:260px;
  border-radius:50%;
  box-shadow:0 0 40px #38bdf8;
}

.hero h1{
  font-size:42px;
}

.hero span{
  color:#38bdf8;
}

.hero p{
  margin:15px 0;
  line-height:1.6;
}

/* Buttons */
.buttons{
  margin-top:25px;
}

.btn{
  padding:12px 28px;
  border-radius:25px;
  text-decoration:none;
  font-weight:600;
  margin-right:15px;
}

.primary{
  background:#38bdf8;
  color:#020617;
}

.secondary{
  border:2px solid #38bdf8;
  color:#38bdf8;
}

/* Skills */
.skills-grid{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap:25px;
}

.skill-card{
  background: rgba(255,255,255,0.06);
  padding:25px;
  border-radius:15px;
  text-align:center;
  transition:0.3s;
}

.skill-card:hover{
  transform:translateY(-8px);
  box-shadow:0 0 20px rgba(56,189,248,0.4);
}

/* Projects */
.project-grid{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
  gap:30px;
}

.project-card{
  background: rgba(255,255,255,0.06);
  padding:25px;
  border-radius:15px;
  transition:0.3s;
}

.project-card:hover{
  transform:scale(1.05);
  box-shadow:0 0 20px rgba(99,102,241,0.4);
}

/* Contact */
.contact-box{
  max-width:450px;
  margin:auto;
  background: rgba(255,255,255,0.06);
  padding:40px;
  border-radius:15px;
  text-align:center;
}

/* Responsive */
@media(max-width:900px){
  section{
    padding:60px 30px;
  }
  .hero{
    grid-template-columns:1fr;
    text-align:center;
  }
}
